/* custom css for main page */

* {
  font-family: 'Merriweather', serif;
}

body {
  background-color: tomato;
}

.card-header {
  background-color: #4F5D75;
}

.card-body {
  background-color: #D8CBC7;
}